/* ---------------------- */
/* GÉNÉRAL                */
/* ---------------------- */

*{
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    width:100%;
    margin:0;
    padding:4px;
    background:#eef5ff;
}

/* ---------------------- */
/* GRILLE PRODUITS        */
/* ---------------------- */

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:4px;
}

.product{
    position:relative;
    min-height:65px;
    padding:8px;
    font-size:18px;
    font-weight:600;
    text-align:left;
    background:#0056d6;
    color:white;
    border:none;
    border-radius:8px;
}

.product-name{
    padding-right:45px;
    line-height:1.2;
}

.product-price{
    position:absolute;
    bottom:6px;
    right:8px;
    font-size:16px;
    font-weight:bold;
}

/* ---------------------- */
/* TICKET                 */
/* ---------------------- */

.ticket-box{
    padding:2px;
    margin:2px 0;
    background:white;
    border-radius:8px;
    font-size:17px;
}

.total-box{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    padding:6px;
    margin:5px 0;
    background:#ff7a00;
    color:white;
    border-radius:8px;
}

/* ---------------------- */
/* MODES DE RÈGLEMENT     */
/* ---------------------- */

.payment-buttons{
    display:flex;
    width:100%;
    gap:4px;
    margin:8px 0;
}

.payment-btn{
    flex:1;
    height:65px;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius:10px;
    color:white;
}

#btnCash{
    background:#28a745;
}

#btnCard{
    background:#0056d6;
}

#btnShared{
    background:#ff9800;
}

.payment-btn.active{
    border:4px solid #ff0000;
    box-shadow:0 0 10px rgba(255,0,0,0.4);
}

/* ---------------------- */
/* PAIEMENT PARTAGÉ       */
/* ---------------------- */

#sharedPayment{
    margin-top:10px;
}

#sharedPayment label{
    display:block;
    margin-top:8px;
    font-weight:bold;
}

#cashAmount,
#cardAmount,
#received{
    width:100%;
    height:55px;
    padding:10px;
    font-size:22px;
    border-radius:8px;
}

#cardAmount{
    background:#f2f2f2;
}

/* ---------------------- */
/* RENDU                  */
/* ---------------------- */

.change-box{
    font-size:18px;
    font-weight:bold;
    text-align:center;
    background:white;
    padding:6px;
    margin:5px 0;
    border:2px solid #0056d6;
    border-radius:8px;
}

/* ---------------------- */
/* BOUTONS                */
/* ---------------------- */

button{
    cursor:pointer;
}

.validate-btn{
    width:100%;
    padding:20px;
    margin-top:10px;
    font-size:30px;
    font-weight:bold;
    background:#28a745;
    color:white;
    border:none;
    border-radius:10px;
}

.cancel-line-btn{
    width:100%;
    padding:10px;
    margin-top:20px;
    font-size:16px;
    background:#c82333;
    color:white;
    border:none;
    border-radius:8px;
}

